<nav
  class="navbar nav-expand-lg navbar-light bg-info d-flex justify-content-between mb-3"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Push Villain On List</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="#navbarColor02"
      aria-expanded="false"
      aria-label="navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="container-fluid">
    <span
      >have
      <strong class="text-primary">{{ lengthVillains }} </strong>Villains</span
    >
  </div>
</nav>
